<div class="container">
  <div class="py-5">
    <p class="display-3 text-danger text-center">{{error}}</p>
    <div *ngIf="radarData!=undefined">
      <p class="text-success display-2 text-center">Radars List</p>
      <table class="table rounded-3 shadow-lg" >
        <thead class="border text-center">
          <tr>
            <th>RadaraId</th>
            <th>Max Speed</th>
            <th>Coordonates</th>

          </tr>
        </thead>
        <tbody class="border text-center">

          <tr  *ngFor="let r of radarData">
            <td>{{r.id}}</td>
            <td>{{r.vitessMax}} KM/H</td>
            <td>{{r.courdonnees[0]|number:'.2-2'}}|{{r.courdonnees[1]|number:'.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
